.container {
  display: -webkit-box;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
          align-items: center;
  background: #333;
}

.center-objs {
  margin: 0 auto;
}

#map {
  width: 600px;
  height: 400px;
  background: lightgrey;
}